@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&display=swap');

html {
  /* overflow-x: hidden; */
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  font-family: "Inter", sans-serif;
}

.link {
  text-decoration: none;
}

/* LandingPage.js styles */

.landing-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #FCE5E5 0%, #F7F8FA 100%);
}

.title-text {
  font-weight: 900;
  font-size: 64px;
  margin: 120px 0 64px 0;
  text-transform: uppercase;
}

.blue-text {
  color: #00A4E1;
}

.red-text {
  color: #DF332E;
}

.rules-text {
  font-size: 20px;
  margin: 0 0 48px 0;
}

.card-container {
  display: flex;
  flex-direction: row;
  margin: 0 0 64px;
  column-gap: 24px;
  row-gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
}

.level-card {
  background-color: #fff;
  border-radius: 12px;
  cursor: pointer;
  transition: all .2s;
  padding: 16px 20px;
}

.level-card:hover {
  transform: translate(4px, 4px);
}

.card-image {
  width: 320px;
  height: 180px;
  object-fit: cover;
}

.card-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0 0 0;
}

.level-text {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.level-character-images {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
}

.character-image {
  width: 24px;
  height: 24px;
}

.leaderboard-link-text {
  font-size: 20px;
  margin: 0 0 24px 0;
}

.leaderboard-button {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #000;
  padding: 8px 12px;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  transition: all .2s;
}

.leaderboard-button:hover {
  transform: scale(1.05);
}

.leaderboard-button:active, .leaderboard-button:focus {
  outline: none;
}

/* Header.js styles */

.header-container {
  width: calc(100% - 80px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  padding: 20px 40px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1;
}

.alt-header {
  background-color: rgba(255, 255, 255, 0);
}

.home-link-section {
  display: flex;
  flex-direction: row;
  padding: 8px 12px;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  background-color: #fff;
}

.home-icon {
  width: 20px;
  height: 20px;
  stroke: #000;
  stroke-width: 2;
  fill: none;
  margin: 0 12px 0 0;
}

.header-link-text {
  margin: 0;
  color: #000;
}

.level-section {
  flex: auto;
  position: absolute;
  right: 50%;
  visibility: hidden;
}

.level-text {
  margin: 0;
  font-weight: 600;
  color: #000;
}

.character-text {
  margin: 0;
}

.character-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}

.header-character {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 4px;
}

.character-found {
  opacity: 20%;
}

.header-character-image {
  width: 32px;
  height: 32px;
}

.header-character-name {
  margin: 0;
  color: #000;
}

/* LeaderboardPage.js styles */

.leaderboard-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #FCE5E5 0%, #F7F8FA 100%);
}

.level-selector {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  background-color: #fff;
  border-radius: 16px;
  padding: 4px;
  position: absolute;
  top: 20px;
}

.level-option-container {
  border-radius: 12px;
  padding: 8px 12px;
  z-index: 2;
}

.selected {
  background-color: #E5E5E5;
}

.selected p {
  font-weight: 600;
  color: #000;
}

.level-option-text {
  font-size: 16px;
  font-weight: 500;
  color: #575A69;
  margin: 0;
}

.level-option-text:hover {
  color: #000;
  transition: all .2s;
  cursor: pointer;
}

.leaderboard-section {
  width: 460px;
  margin: 144px 0 0 0;
}

.leaderboard-heading {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 32px 0;
}

.results-section {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
}

.result-container {
  display: flex;
  flex-direction: row;
  column-gap: 48px;
  padding: 20px 16px;
  background-color: #fff;
  border-radius: 12px;
  transition: all .2s;
}

.result-container:hover {
  background-color: #e5e5e5;
}

.rank-text {
  width: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #575A69;
  margin: 0;
}

.user-text {
  width: 240px;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.time-text {
  width: 72px;
  font-size: 16px;
  font-weight: 400;
  color: #575A69;
  margin: 0;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #000;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 2s linear infinite;
}

/* GamePage.js styles */

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback {
  padding: 8px 24px;
  box-sizing: border-box;
  border-radius: 12px;
  z-index: 4;
  top: 20px;
  position: fixed;
  animation: fade-in-out;
  animation-duration: 2s;
}

.feedback-success {
  background-color: #36ab62;
}

.feedback-fail {
  background-color: #fd3f41;
}

.feedback-text {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  color: #fff;
}

.game-image {
  width: 100%;
  position: absolute;
  top: 80px;
  cursor: crosshair;
}

.guess-character-container {
  width: 64px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 16px;
  background-color: #e5e5e5;
  border-radius: 12px;
  position: fixed;
  top: 96px;
  right: 2%;
  z-index: 3;
}

.guess-character-text {
  font-size: 16px;
  font-weight: 500;
  color: #575A69;
  margin: 0;
  cursor: pointer;
  text-align: center;
}

.guess-character-text:hover {
  color: #000;
}

.option-found {
  text-decoration: line-through;
  cursor: default;
  font-size: 16px;
  font-weight: 500;
  color: #575A69;
  margin: 0;
  text-align: center;
  opacity: 50%;
}

.modal-container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.40);
  position: fixed;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-modal {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  padding: 16px;
  z-index: 5;
  position: fixed;
}

.modal-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0 16px 0;
}

.modal-heading-text {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin: 0;
}

.modal-close-button {
  width: 20px;
  height: 20px;
  stroke: #000;
  stroke-width: 2;
  fill: none;
  cursor: pointer;
}

.modal-description-text {
  width: 360px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin: 0 0 16px 0;
}

.modal-text-bold {
  font-weight: 500;
}

.modal-entry {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  margin: 0 0 16px;
}

.modal-entry:active, .modal-entry:focus {
  outline: none;
  border: 1px solid #00A4E1;
}

.modal-submit-button {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  padding: 12px;
  border-radius: 12px;
  background-color: #00A4E1;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  transition: all .2s;
}

.modal-submit-button:hover {
  background-color: #068FC2;
}

.modal-submit-button:active, .modal-submit-button:focus {
  outline: none;
}

/* animations */

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fade-in-out {
  0% {
      opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

/* media queries */

@media (min-width: 960px) {
  .level-section {
    visibility: visible;
  }
}